# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Playwright
playwright-report/
test-results/

# Environment
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data
*.sqlite3
